<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--数据库链接配置-->

  <!--SqlServer数据库-->
  
  <!--第一种配置（connectionStrings）-->
  <!--<connectionStrings>
    第一种方式
    <add name="SqlConnection" connectionString="Data Source=服务器名/IP地址;Initial Catalog=数据库名称;User ID=账号;PassWord=密码;" providerName="System.Data.SqlClient"/>
    第二种方式
    <add name="SqlConnection" connectionString="Server=服务器名/IP地址;DataBase=数据库名称;Uid=账号;Pwd=密码" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--第二种配置（appSettings）过时-->
  <!--<appSettings>
    第一种方式
    <add key="SqlConnection" value="Server=服务器名/IP地址;DataBase=数据库名称;Uid=账号;Pwd=密码" />
    第二种方式
    <add key="SqlConnection" value="Data Source=服务器名/IP地址;Initial Catalog=数据库名称;User ID=账号;PassWord=密码;Persist Security info=False;"/>
  </appSettings>-->
  <!--配置文件的读取：connectionStrings获取name/appSettings获取value-->
  
  
  <!--MySql数据库-->
  <!--<connectionStrings>
    <add name="MySqlConnection" connectionString="host=服务器名/IP的地址;DataBase=数据库名称;uid=账号;pwd=密码;Port=端口号;Pooling=true;CharSet=uft8;Max Pool Szie=100;AllowUserVariables=true" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>-->

  <connectionStrings>
    <add name="MySqlConnection" connectionString="host=localhost;DataBase=zack_database;uid=root;pwd=123456;Port=3306;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <!--
  Pooling 开启/关闭线程池
  CharSet 设置字符格式
  Max Pool Szie 线程池中允许的最大线程数
  AllowUserVariables 是否允许Sql中出现用户变量
  更多详情属性https://blog.csdn.net/config_man/article/details/8254986
  -->
  
  
  <!--Oracle数据库-->
  <!--<connectionStrings>
    <add name="Conn" connectionString="Provider=MSDAORA;Data Source=demo;User ID=sa;Password=123456;" providerName="System.Data.OracleClient"/>
  </connectionStrings>-->

  <!--Acces数据库-->
  <!--<connectionStrings>
    <add name="Conn" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source={0}App_Data/demo.mdb" providerName="System.Data.OleDb"/>
  </connectionStrings>-->


  <!--SQLite数据库-->
  <!--<connectionStrings>
    <add name="Conn" connectionString="host=127.0.0.1;Port=3306;Database=mysql;uid=sa;pwd=12346" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>-->
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
